body{
    background-color: bisque;
    margin: 00 100px;
}
li, a, ul{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
button{
     cursor: pointer;
}
